n8n-workflow-upwork-proposals.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upwork-jobs",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1d1c5314-dbb1-4467-a77c-3a87fd251a31",
      "name": "Receive Jobs from Extension",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [336, 400],
      "webhookId": "upwork-jobs-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Jobs received\" } }}",
        "options": {}
      },
      "id": "bf495b69-64bc-40c9-b19e-e3027f81f1bd",
      "name": "Respond to Extension",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [784, 304]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $input.first().json;\nconst jobs = webhookData.body || [];\nconst processedJobs = [];\n\nfor (const job of jobs) {\n  const jobData = {\n    jobUrl: job.url || job.jobUrl || '',\n    jobId: job.id || job.jobId || '',\n    jobTitle: job.title || job.jobTitle || '',\n    jobDescription: job.description || '',\n    jobType: job.jobType || '',\n    skillLevel: job.skillLevel || '',\n    budget: job.budget || job.hourlyRange || '',\n    skills: job.skills || [],\n    clientRating: job.clientRating || '',\n    clientCountry: job.clientCountry || '',\n    questions: job.questions || [],\n    scrapedAt: job.scrapedAt || Date.now()\n  };\n  processedJobs.push(jobData);\n}\n\nreturn processedJobs.map(j => ({ json: j }));"
      },
      "id": "bedbe21b-e9ee-4a8b-999d-ca2a2c9a3bf1",
      "name": "Process Job Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.jobUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "587c4d7e-b4cb-4d64-b8ad-6da4f6057f6c",
      "name": "Check Job URL Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [784, 496]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "16gUptMWh9fq6o6l1bzbbhh-EVD4axxX2m_puIZib8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "piyush",
          "mode": "name"
        },
        "options": {
          "useFirstRowAsHeaders": true
        }
      },
      "id": "a556589e-e3fa-4661-a571-518c0703c1d6",
      "name": "Get Existing URLs (Sheets)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1008, 496],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6n5tUVcfGaUshmmI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const currentJob = $('Process Job Data').first().json;\nconst sheetRows = $input.all();\n\nif (!sheetRows || sheetRows.length === 0) {\n  return [{ json: { skip: false, jobData: currentJob } }];\n}\n\nconst existingUrls = sheetRows.map(row => row.json.jobUrl || row.json.Job_URL || Object.values(row.json)[0]).filter(url => url && String(url).trim() !== '');\nconst jobExists = existingUrls.some(url => String(url).trim() === String(currentJob.jobUrl).trim());\n\nreturn [{ json: { skip: jobExists, jobData: currentJob } }];"
      },
      "id": "c5f7dc60-8a18-4a44-a57e-d627c7c91045",
      "name": "Check if Proposal Exists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 496]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}"
            }
          ]
        }
      },
      "id": "7a1d3e82-b0f7-4241-979b-2a29bd5f0103",
      "name": "Should Generate Proposal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1456, 496]
    },
    {
      "parameters": {
        "jsCode": "const job = $json.jobData;\nconst userProfile = {\n  name: 'Piyush Rajput',\n  skills: ['MERN Stack','JavaScript','TypeScript','React.js','Node.js','Express.js','Python','C++','MongoDB','MySQL','PostgreSQL','Redis','AWS','REST APIs','JWT/OAuth','Docker','Next.js','Tailwind'],\n  experience: 'Motivated Computer Science Engineering student with full-stack development experience.',\n  portfolio: 'https://portfolio-46tf.vercel.app/'\n};\n\nconst qText = job.questions.length > 0 ? `\\nSCREENING QUESTIONS:\\n${job.questions.map((q,i)=>`${i+1}. ${q}`).join('\\n')}` : '';\n\nconst prompt = `Write an Upwork proposal. Job: ${job.jobTitle}. Description: ${job.jobDescription}. Budget: ${job.budget}. Skills: ${job.skills.join(', ')}. Country: ${job.clientCountry}.${qText}\\nProfile: ${userProfile.name}, Skills: ${userProfile.skills.join(', ')}. Portfolio: ${userProfile.portfolio}. Write a 300-500 word proposal.`;\nconst bidPrompt = `Suggest a bid amount for this job: ${job.budget}. Return only a number.`;\n\nreturn [{ json: { prompt, bidPrompt, jobData: job } }];"
      },
      "id": "1f0c37ff-4548-4304-8d52-5d60f2a80f1a",
      "name": "Prepare Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 496]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent?key=AIzaSyBIVMjQDZsrTu1TJBYqprFreuwG6DveLWM",
        "sendQuery": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents:[{parts:[{text:$json.prompt}]}], generationConfig:{temperature:0.7,maxOutputTokens:2000} } }}"
      },
      "id": "720d461c-7fb7-4fb9-a989-74c30b180465",
      "name": "Generate Proposal Text (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1904, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-pro:generateContent?key=AIzaSyBIVMjQDZsrTu1TJBYqprFreuwG6DveLWM",
        "sendQuery": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents:[{parts:[{text:$('Prepare Gemini Prompt').first().json.bidPrompt}]}], generationConfig:{temperature:0.2,maxOutputTokens:20} } }}"
      },
      "id": "12896d81-5c55-471c-ba8e-610b5c01295a",
      "name": "Suggest Bid Amount (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1904, 592]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "wait-node-rate-limit",
      "name": "Wait for Rate Limit",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1904, 496]
    },
    {
      "parameters": {
        "jsCode": "// Combine proposal, bid, and all job data\n// Get proposal text from Generate Proposal Text node\nconst proposalNode = $('Generate Proposal Text (Gemini)').first();\nconst proposalText = proposalNode?.json?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n// Get bid from current input (Suggest Bid Amount node)\nconst bidNode = $input.first();\nconst bidRaw = bidNode?.json?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n// Get job data from Prepare Gemini Prompt node\nconst promptNode = $('Prepare Gemini Prompt').first();\nconst job = promptNode.json.jobData || {};\n\nconst bidAmount = parseInt((bidRaw || '').replace(/\\D/g, '')) || '';\n\n// Ensure all required columns are present with default values\nconst formattedJob = {\n  jobUrl: job.jobUrl || '',\n  jobId: job.jobId || '',\n  jobTitle: job.jobTitle || '',\n  jobDescription: job.jobDescription || '',\n  jobType: job.jobType || '',\n  skillLevel: job.skillLevel || '',\n  budget: job.budget || '',\n  skills: Array.isArray(job.skills) ? job.skills.join(', ') : (job.skills || ''),\n  clientRating: job.clientRating || '',\n  clientCountry: job.clientCountry || '',\n  questions: Array.isArray(job.questions) ? job.questions.join(' | ') : (job.questions || ''),\n  proposalText: proposalText || '',\n  bidAmount: bidAmount || '',\n  generatedAt: new Date().toISOString(),\n  scrapedAt: job.scrapedAt || Date.now()\n};\n\nreturn [{ json: formattedJob }];"
      },
      "id": "de0592f2-e0e0-4297-a2c8-1e1de73b26eb",
      "name": "Combine Proposal Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2128, 496]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16gUptMWh9fq6o6l1bzbbhh-EVD4axxX2m_puIZib8G0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "piyush",
          "mode": "name"
        },
        "columnToMatchOn": "jobUrl",
        "dataMode": "define",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "jobUrl": "={{ $json.jobUrl }}",
            "jobId": "={{ $json.jobId }}",
            "jobTitle": "={{ $json.jobTitle }}",
            "jobDescription": "={{ $json.jobDescription }}",
            "jobType": "={{ $json.jobType }}",
            "skillLevel": "={{ $json.skillLevel }}",
            "budget": "={{ $json.budget }}",
            "skills": "={{ $json.skills }}",
            "clientRating": "={{ $json.clientRating }}",
            "clientCountry": "={{ $json.clientCountry }}",
            "questions": "={{ $json.questions }}",
            "proposalText": "={{ $json.proposalText }}",
            "bidAmount": "={{ $json.bidAmount }}",
            "generatedAt": "={{ $json.generatedAt }}",
            "scrapedAt": "={{ $json.scrapedAt }}"
          }
        },
        "options": {
          "useFirstRowAsHeaders": true
        }
      },
      "id": "2a67eee1-d4cc-47db-ad3f-b2dac79d7607",
      "name": "Save Proposal (Sheets Append)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [2352, 496],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6n5tUVcfGaUshmmI",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "connections": {
    "Receive Jobs from Extension": { "main": [[{"node": "Process Job Data", "type": "main", "index": 0}]] },
    "Process Job Data": { "main": [[{"node": "Respond to Extension", "type": "main", "index": 0},{"node": "Check Job URL Exists","type":"main","index":0}]] },
    "Check Job URL Exists": { "main": [[{"node": "Get Existing URLs (Sheets)","type":"main","index":0}]] },
    "Get Existing URLs (Sheets)": { "main": [[{"node": "Check if Proposal Exists","type":"main","index":0}]] },
    "Check if Proposal Exists": { "main": [[{"node": "Should Generate Proposal?","type":"main","index":0}]] },
    "Should Generate Proposal?": { "main": [[{"node": "Prepare Gemini Prompt","type":"main","index":0}]] },
    "Prepare Gemini Prompt": { "main": [[{"node": "Generate Proposal Text (Gemini)","type":"main","index":0}]] },
    "Generate Proposal Text (Gemini)": { "main": [[{"node": "Wait for Rate Limit","type":"main","index":0}]] },
    "Wait for Rate Limit": { "main": [[{"node": "Suggest Bid Amount (Gemini)","type":"main","index":0}]] },
    "Suggest Bid Amount (Gemini)": { "main": [[{"node": "Combine Proposal Data","type":"main","index":0}]] },
    "Combine Proposal Data": { "main": [[{"node": "Save Proposal (Sheets Append)","type":"main","index":0}]] }
  },
  "meta": {
    "instanceId": "9014126434b96c55adb8c4ae2869625f0f11117fbbcc6891961b730ffc641939"
  }
}
